<main>
  <div class="sidemenu">
    <div class="mini-head">SLACA 2019</div>
    <div class="">
      <img src="/assets/dewey_4.svg" alt="13-slaca" />
    </div>
    <div class="sidemenu-rows">
      <div class="sidemenu-box">
        <p class="sidemenu-text">Apresentação</p>
      </div>
      <div class="sidemenu-box"><p class="sidemenu-text">Comitês</p></div>
      <div class="sidemenu-box"><p class="sidemenu-text">Autores</p></div>
      <div class="sidemenu-box">
        <p class="sidemenu-text">Eixos Temáticos</p>
      </div>
      <div class="sidemenu-box">
        <p class="sidemenu-text">Trabalhos</p>
      </div>
      <div class="sidemenu-box"><p class="sidemenu-text">Contato</p></div>
    </div>
  </div>
  <header class="header">
    <p class="header-text">
      Anais do Simpósio Latino Americano de Ciências de Alimentos
    </p>
    <div class="inner-header">
      <h2 class="header-text">
        Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
      </h2>
      <div>PT,BR</div>
      <div>
        <p>Bem-vindo</p>
        <img src="/assets/avatar.svg" alt="user-avatar" class="user-avatar" />
        <p>alguem123@galoascience.com</p>
      </div>
    </div>

    <p class="header-text">ISSN: 1234-5678</p>
  </header>
  <div class="content">content</div>
</main>
