<main>
  <div class="sidemenu">
    <div class="mini-head">SLACA 2019</div>
    <div class="">
      <img src="/assets/dewey_4.svg" alt="13-slaca" />
    </div>
    <div class="sidemenu-rows">
      <div class="sidemenu-box">
        <p class="sidemenu-text">Apresentação</p>
      </div>
      <div class="sidemenu-box">
        <p class="sidemenu-text">Comitês</p>
      </div>
      <div class="sidemenu-box">
        <p class="sidemenu-text">Autores</p>
      </div>
      <div class="sidemenu-box">
        <p class="sidemenu-text">Eixos Temáticos</p>
      </div>
      <div class="sidemenu-box">
        <p class="sidemenu-text">Trabalhos</p>
      </div>
      <div class="sidemenu-box">
        <p class="sidemenu-text">Contato</p>
      </div>
    </div>
  </div>
  <header class="header">
    <p class="header-text">
      Anais do Simpósio Latino Americano de Ciências de Alimentos
    </p>
    <div class="inner-header">
      <h2 class="header-text text-xl">
        Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
      </h2>
      <div class="language-box">PT,BR</div>
      <div class="user-box">
        <p>Bem-vindo</p>
        <img src="/assets/avatar.svg" alt="user-avatar" class="user-avatar" />
        <p>alguem123@galoascience.com</p>
      </div>
    </div>

    <p class="header-text">ISSN: 1234-5678</p>
  </header>
  <div class="content">
    <div class="main-content">
      <div class="title-video">
        <h2 class="content-title">
          Análise sensorial de preparações funcionais desenvolvidas para
          escolares entre 09 e 15 anos, do município de Campinas/SP
        </h2>
        <div class="content-video">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/TwIvUbOhcKE?si=PjmepbGrVLTV4D2k"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="details-submenu">
        <div class="buttons-box">
          <div class="buttons-row">
            <button class="download-button">
              <img src="/assets/download.png" alt="" />Downlaod</button
            ><button class="icon-button">
              <img src="/assets/favoritar.png" alt="" /></button
            ><button class="icon-button">
              <img src="/assets/doi.png" alt="" />
            </button>
          </div>

          <p class="buttons-box-text">COMO CITAR ESTE TRABALHO?</p>
        </div>
        <div class="details-column">
          <div class="details-title-box">
            <div class="details-title">DETALHES</div>
          </div>

          <div class="details-details">
            <img
              class="details-content"
              src="/assets/tipo_apresentacao.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="other-content">
      <div class="abstract-box">
        <div class="abstract-title-box">
          <p class="abstract-title">Resumo</p>
        </div>
        <div class="abstract-content-box">
          <p class="abstract-content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Reprehenderit dolores sapiente amet pariatur accusamus, quisquam
            impedit laborum reiciendis provident, neque nisi consequuntur earum
            minus velit! Laborum quis labore ullam ipsam. Magni sequi quibusdam
            aspernatur dolorum, dicta est dolor voluptas illo iste fuga,
            doloremque nihil adipisci rem blanditiis minima tenetur impedit
            omnis accusantium illum asperiores ut numquam, molestias provident
            enim. Adipisci. Maiores minus delectus provident sapiente vel
            quaerat repellat natus numquam. Aut molestiae libero doloribus
            maxime, ab facere nam. Cum eum id impedit adipisci ipsum
            voluptatibus molestiae vitae odio fugit ipsam?
          </p>
        </div>
      </div>
      <div class="discussions-box">
        <div class="discussions-box-title">
          <p class="discussions-title"></p>
        </div>
      </div>
    </div>
    <!-- <footer>
      <div class="galoa-box">
      <p class="galoa-title">Galoá</p>
      <p>- anais e proceedings -</p>
      <button>Saiba mais</button>
        <img src="/assets/galoa-footer.svg" alt="galoa-logo" />
      </div>
      <div></div>
    </footer> -->
  </div>
</main>
